@use '../util' as *;

.header {
  &__hero {
    position: relative;
    color: var(--clr-white);

    h2 {
      font-size: rem(40);
      letter-spacing: 6.25px;
      text-transform: uppercase;
    }

    &-content {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 30px;
      }
    }
  }
}
